
html, body, div {
	background-color: #FFFFFF;
}
.titleDiv {
	margin: 0 0 0 0px;
	overflow-y: hidden;
	display: inline-flex;
	height: 50px;
}
.title {
	color: #A9A9AB;
	/*font-weight: bold;*/
	transition: all 0.5s ease;
	font-size: 42px;
	margin: 2px 0 0 10px;
}
.title:hover {
	color: #FFF056;
	cursor: pointer;
}
.nav {
	background: #191919;
	height: 50px;
}
.logo {
	width: auto;
    height: 50px;
    max-width: 225px;
    min-width: 175px;
    /*margin-top: -12px;*/
}
.noBG {
	background: none;
}